.user-card {
  display: flex;
  width: 350px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.user-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
}

.subtitle {
  color: var(--primary-color);
}
