<mat-card class="user-card">
  <mat-card-header>
    <img [src]="'https://fakeimg.pl/100x100/?text=' + (user.name | avatarInitials)" alt="User Avatar" class="avatar"
         mat-card-avatar>
  </mat-card-header>
  <mat-card-content class="user-card-content">
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle class="subtitle">{{ user.email }}</mat-card-subtitle>
    <mat-card-subtitle class="subtitle">{{ messageCount }} {{ getSuffix(messageCount) }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
