.dashboard {
  max-width: 1250px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paginator {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-size: 1rem;
}

.app-user-card {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}
