<div class="dashboard">
  <mat-grid-list [cols]="3" gutterSize="16px">
    <mat-grid-tile
      *ngFor="let user of users | slice: paginator.pageIndex * paginator.pageSize:(paginator.pageIndex + 1) * paginator.pageSize">
      <app-user-card [user]="user" class="app-user-card"></app-user-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator #paginator [hidePageSize]="true" [length]="users.length" [pageSizeOptions]="[3]" [pageSize]="3"
                 class="paginator" showFirstLastButtons></mat-paginator>
</div>
