/* You can add global styles to this file, and also import other style files */

html {
  overflow: hidden;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
}

:root {
  --primary-color: #BDD5EA;
  --secondary-color: #495867;
  --background-color: #F7F7FF;
}
